extends layout

block content
    .container.wrapper
        .well.well-lg
            h1 fcc-voting
            .lead Select a poll to see the results and vote,
                a or make a new poll!
            h4 Polls
            .row
                .list-group
                    a.list-group-item(href="#") Cras justo odio
                    a.list-group-item(href="#") Cras justo odio
                    a.list-group-item(href="#") Cras justo odio
                    a.list-group-item(href="#") Cras justo odio




